<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Deploying commit - {{ commit_id }}</title>
        <meta name="description" content="Deploying commit in process">
        <meta name="author" content="LazyCloud">
        <script src="https://code.jquery.com/jquery-3.1.0.min.js"
                integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
                crossorigin="anonymous"></script>
    </head>

    <body>
        <h2>Deploying commit - {{ commit_id }}</h2>
        <div>
            Updates:
            <ul id="progress-list">
            </ul>
        </div>
        <script type="text/javascript">
            $(function () {
                var deploySocket = new WebSocket('ws://{{ url }}/lazy_cloud_admin/deployment/progress');
                deploySocket.onopen = function () {
                    deploySocket.send("DEPLOY {{ commit_id }}")
                };

                deploySocket.onmessage = function (message) {
                    var message_type = message.data.slice(0, message.data.indexOf(" "));
                    var message_detail = message.data.slice(message.data.indexOf(" "));

                    $("#progress-list").append("<li><strong>" + message_type + "</strong> - " + message_detail + "</li>");
                };

                <!--deploySocket.onerror = function (error) {-->
                    <!--$("#progress-list").append("<li><strong>ERROR</strong> - " + error + "</li>");-->
                <!--};-->

                deploySocket.onclose = function (message) {
                    if (message.code !== 1000) {
                        $("#progress-list").append("<li><strong>ERROR</strong> - " + message.reason + "</li>");
                    } else {
                        // reload page to access site.
                        location.reload(true);
                    }
                };
            });
        </script>
    </body>
</html>
